node_modules
.git
.bun
.turbo
.astro
.DS_Store
*.log
*.tsbuildinfo
.env
.env.local
build/
.logs/
release/
release-mock/
.t3
.idea/
.trifecta
*.dmg
*.zip
*.blockmap
**/dist-electron
.electron-runtime
.vitest-*
**/__screenshots__
.vercel
apps/web/.playwright
apps/web/playwright-report
