<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Trifecta.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
				<key>dateExpires</key>
				<string>1/27/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoFileSystem.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoFont.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesJSI.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesWorklets.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageAVIFCoder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageSVGCoder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52C20A29C2FC340C12476E8E2BACF0AD82698300</string>
						<key>dateExpires</key>
						<string>1/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libavif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D56G8D849</string>
						<key>name</key>
						<string>Preetham Kyanam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6D56G8D849.com.belweave.trifecta</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>6D56G8D849</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Trifecta.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e67ec38d-02e0-4260-ade6-90b9f96041c4</string>
				<key>dateExpires</key>
				<string>5/24/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.belweave.trifecta</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6D56G8D849</string>
				<key>name</key>
				<string>Preetham Kyanam</string>
			</dict>
			<key>versionNumber</key>
			<string>1.4.1</string>
		</dict>
	</array>
</dict>
</plist>
